@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Anton&family=Luckiest+Guy&family=Bangers&family=Lilita+One&family=Alegreya+Sans:wght@400;500;700&family=Dancing+Script:wght@400;700&family=Kalam:wght@400;700&family=Great+Vibes&family=Satisfy&family=Orbitron:wght@400;700;900&family=Chewy&family=League+Spartan:wght@400;500;600;700&family=Playfair+Display:wght@400;700&family=Quicksand:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* new colors */
  --color-carbon: #282828;
  --color-obsidian-50: #002329;
  --color-obsidian-100: #002B3D;
  --color-obsidian-200: #01151D;
  --color-gold-50: #FFE5B3;
  --color-gold-100: #FFDD9A;
  --color-gold-200: #F4C358;
  --color-gold-300: #CF9524;
  --color-oBlue-100: #39B8EB;
  --color-oBlue-200: #60C6EF;
  --color-oCard: #F8F8F8;

  --breakpoint-nav: 1138px;

  --font-montserrat: 'Montserrat', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-anton: 'Anton', sans-serif;
  --font-luckiest-guy: 'Luckiest Guy', cursive;
  --font-bangers: 'Bangers', cursive;
  --font-lilita-one: 'Lilita One', sans-serif;
  --font-alegreya-sans: 'Alegreya Sans', sans-serif;
  --font-times: 'Times New Roman', serif;
  --font-dancing-script: 'Dancing Script', cursive;
  --font-kalam: 'Kalam', cursive;
  --font-great-vibes: 'Great Vibes', cursive;
  --font-satisfy: 'Satisfy', cursive;
  --font-orbitron: 'Orbitron', sans-serif;
  --font-chewy: 'Chewy', cursive;
  --font-league-spartan: 'League Spartan', sans-serif;
  --font-stencil: 'Stencil', serif;
  --font-playfair: 'Playfair Display', serif;
  --font-quicksand: 'Quicksand', sans-serif;
}

body {
  color-scheme: light;
  background-color: white;
}

.active-navlink {
  position: relative;
}

.active-navlink::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #39B8EB;
}

.hover-navlink {
  position: relative;
}

.hover-navlink::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -8px;
  left: 40%;
  transform: translateX(-40%);
  background-color: #39B8EB;
  transition: all ease .4s;
}

.hover-navlink:hover::after {
  width: 50%;
}

.swiper-pagination-bullet {
  background: rgb(255, 255, 255);
  height: 10px;
  width: 10px;
  margin-right: 6px;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 100%;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background-color: white;
  opacity: 1;
}